/* General body styling */


:root {
    --primary-color: #4a90e2;
    --secondary-color: #CCE34B;
    --accent-color: #E3574B;
    --Referencelist1-color: #d3d3d3;
    --Referencelist2-color: #a9a9a9;
    --grey:

}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
}



/* Controls area at the top of the page */
#controls {
    padding: 5px;
    background: var(--primary-color); 
    color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

#rightCON {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 5px;
}

#controls img {
    height: 30px;
    margin-right: 10px;
}

#notification {
    margin-top: 10px;
    display: none;
    border: 2px solid white;
    width: 300px;
    padding: 10px;
    text-align: center;
}

/* Viewer and Frame styling */
#viewer {
    display: flex;
    flex: 1;
    overflow-y: hidden;
}

.frame {
    width: 50%;
    height: 95%;
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.OuterFrame {
    
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    flex: 1 1; 
    overflow: hidden;
    
}
.OuterFrame2 {
    
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;

    overflow: hidden;
    
}
.search-string-frame, 
.result-frame {
    border: 1px solid #ccc;
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.Reference-frame {
    border: 1px solid #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: relative;
}

#ReferenceFrame {
    max-height: calc(100% - 50px)

}

.InTexts {
    border: 1px solid #ccc;
    margin-right: 5px;
    padding: 5px 10px; /* Combines top/bottom and left/right padding */
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: relative;
    display: inline-block; /* Ensures the width fits the content */
    white-space: nowrap; /* Prevents the content from wrapping to the next line */
    cursor: pointer; /* Makes the element look clickable */
}


#dragArea {
    width: 100%;
    height: 300px;
    border: 2px dashed var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

/* PDF upload button */
#pdf-upload {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pdf-upload:hover {
    background-color: var(--primary-color);
}

/* Text Layer styling */
.textLayer {
    position: relative;
    pointer-events: auto;
    display: block;
}

.textLayer > div {
    position: absolute;
    transform-origin: 0% 0%;
}

.textLayer .endOfContent {
    display: none;
}

/* Highlighting references */
.highlight {
    z-index: 1000;
}

/* Result item and active button */
.result-item {
    margin-bottom: 20px;
}

.result-item p {
    margin: 0;
}

.active {
    background-color: #ccc;
}

/* Citation highlighting */
.citation {
    background-color: var(--secondary-color); 
    font-weight: bold;
    padding: 2px;
    border-radius: 5px; 
}

/* Collapsible frame with smooth transition */
.collapsible-frame {
    overflow-y: auto;
    transition: max-height 0.3s ease-out;
}

/* In-text citation toggle button */
.toggle-in-text-button {
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: auto;
}

/* Adjust image size within controls */
#controls img {
    height: 30px;
    margin-right: 10px;
}

.buttoncontainer {
    position: absolute;  /* Position the buttons absolutely */
    top: 5%;           /* Aligns the buttons to the top of the container */
    right: 5px;

}

/* Controls styling for button, file input, and select dropdown */
#controls button,
#controls input[type="file"],
#controls select {
    margin-left: 10px;
    padding: 10px 5px;
    width: 190px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
}

#controls button.active {
    background-color: #333;
    color: #fff;
}

/* Button active style */
button.active {
    background-color: #ccc;
}

/* Left column */
#left-column {
    width: 60px;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ccc;
}

/* Additional frame styles */
.frame {

}

#pdf-container {
    overflow:auto;


}

#dummy {
    transform-origin: 0 0; /* Keeps the zoom effect centered */
    /*transition: transform 0.2s ease-in-out;  Smooth zoom effect */
    
}
.textLayer{
    transform-origin: 0 0; /* Keeps the zoom effect centered */
    /*transition: transform 0.2s ease-in-out;  Smooth zoom effect */

}

/* Notification styles for CrossRef results */
.notification {
    background-color: white;
    border: 2px solid white;
    width: 300px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.crossref-search-button {

    marginBottom : '0px'; 
    marginLeft : '15px';
}

.Scholar-search-button {
margin-left : 3px;

}

.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px; /* Small size */
    height: 20px;
    animation: spin 1s linear infinite; /* Faster spin */
    display: none; /* Initially hidden */
    margin-left: 10px;
  }
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #referenceHeadline {
    display: flex;
    align-items: center; /* Vertically centers items (optional) */
    justify-content: flex-start; /* Default: Aligns items to the left */
    padding: 10px;               /* Add some padding around the container */
    gap: 10px; /* Add space between the left elements */
}

#ThirdFrameHead {
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    
}


#Helperdiv {
    display: flex;
    gap: 5px;
    margin-left: auto;
}

#scholar-container {
    display: flex;
    flex-direction: column;
    

}

#searchField {

    margin-left: auto;
    width: 100px;     /* Sets the width of the element */
}
#searchSpanField {
    z-index: 1000;
    position: fixed;  /* This sets the element's position to fixed */
    top: 50px;        /* Distance from the top */
    right: 51%;       /* Distance from the right side of the viewport */
    width: 100px;     /* Sets the width of the element */
}



#InTextCitFrame {
    border: 0px solid #ccc !important;
    overflow: auto;
}




/* Style for the menu icon */
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    margin-left: auto;
}

.menu-icon .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
}

/* The dropdown menu list */
.menu {
    list-style-type: none;
    padding: 5px;
    background-color: var(--primary-color);
    position: absolute;
    top: 30px; /* This makes the menu appear just below the icon */
    right: 10px;
    display: none; /* Hidden by default */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Give it a dropdown feel */
}

.menu li {
    margin: 5px 0;
}

.menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.menu a:hover {
    background-color: white;
    border-radius: 5px;
}

/* Show the menu when active */
.menu.active {
    display: block;
}

.reload-icon {
    width: 25px;
    height: 25px;
    background-image: url('reload.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-left: auto;
}

.reload-icon:hover {
    transform: rotate(90deg);
}


#Trash1 {
    background-image: url('trash-can.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-left: auto;
}